/* Footer Styling */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 20px; /* Adjust as needed for spacing from the bottom */
  left: 50%;
  transform: translateX(-50%);
  width: 90%; /* Or any width you'd like */
  height: 50px;
  background-color: white;
  box-shadow: 0 -2px 12px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 12px; /* Rounded top corners */
  padding: 12px 12px;
}

/* Footer Icon Button Styling */
.footer-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #bbb;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 8px;
  margin-top: 2rem;
}

.icon {
  margin-bottom: 8px;
}
